.header
  %span San Francisco - <a href="">Chicago</a> - <a href="">Boston</a> - <a href="">New Orleans</a> - <a href="">State College</a>
  %span.updates
    %span.day Page loaded at
    %span.number= Time.now
    or
    %span.number= Time.now.utc