#header 
  .locations San Francisco - <a href="">Chicago</a> - <a href="">Boston</a> - <a href="">New Orleans</a> - <a href="">State College</a>
  .updates 
    Page loaded at 
    = Time.now
    or
    = Time.now.utc