!!! 5
%html
  %head
    %title Don't feed the squirrels
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}
    %script(type='text/javascript' src='/jquery-1.6.1.min.js')
    %meta(charset="utf-8")
  %body
    = yield
