!!! 5
%script(src="http://rightjs.org/hotlink/right.js")
%script(src="/custom.js")
%html
  %head
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}
    %meta(charset="utf-8")
  %body
    = yield
