body
  color: #FFF
  background-color: #000

a
  color: #8080FF
  text-decoration: underline
  &:hover
    text-decoration: none

div
  margin-top: 0em
  margin-bottom: 1em

p
  margin-top: 0px

.header
  display: block
  clear: both
  color: white
  background-color: #222
  font-family: Verdana,sans-serif
  padding-top: 1px
  padding-bottom: 1px
  padding-left: 3px
  padding-right: 3px
  margin: 0
  margin-top: 1em
  font-size: 10pt

.locations
  font-size: 10pt
  float: left

.updates
  font-size: small
  margin-top: 0
  float: right
  display: inline

.day
  color: green

.number
  color: red

.oneimage
  display: inline
  float: left
  margin: 5px
  margin-top: 0px

.imageoptions
  display: block
  background-color: #222
  margin: 0px
  padding: 0px

.currentop
  background-color: #600

.ooption
  padding-right: 0.5em
  padding-left: 0.5em
  margin: 0

a.options
  background-color: #222
  text-decoration: none
  color: #FFF
  margin: 0

a.options:hover
  background-color: #F00